.blog-page {
    .card-sections-newsroom {
         margin-top:-28%;
        .blog-details{
          padding:40px 20px;
            @media (min-width:1200px){
                padding: 100px 140px;
            }
            .blog-by {
                display: flex;
                justify-content: space-between;
                margin: 30px 0px 60px;
                p {
                  margin-bottom: 0px;
                  font-size: 18px;
          
                  &:nth-child(1) {
                    color: #2A2A2A;
                    opacity: 0.84;
                    display: flex;
                    align-items: center;
          
                    span {
                      width: 12px;
                      height: 12px;
                      display: block;
                      background: #E9791A;
                      border-radius: 100%;
                      margin-right: 8px;
                    }
                  }
          
                  &:nth-child(2) {
                    color: #2A2A2A;
                    opacity: 0.3;
                  }
                }
              }
        }
    }
}
.other-blogs {
  text-align: center;
  font-size:  34px;
  letter-spacing: 0px;
  color: #E9791A;
  opacity: 1;
}
@media(max-width:575px){
  .blog-details {
    padding: 20px;
    h1{
      font-size: 30px !important;
    }
}
}
@media(min-width:576px )and (max-width:767px){
  .blog-details {
    padding: 25px;
  
}
}
@media(min-width:768px )and (max-width:991px){
  .blog-details {
    padding: 25px;
  
}
}
@media(min-width:992px )and (max-width:1024px){
  .blog-details {
    padding: 60px 24px;
}
}