// Banner section of getting started
.banner-getting-started {
  position: relative;
  // text-align: center;
  img {
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 60px;
    color: $color-white;
    font-weight: $fontWeight-medium;
    position: absolute;
    top: 44%;
    left: 40%;
    width: 56%;
    transform: translate(-50%, -50%);
  }
}
.getting-hd {
  color: #fff;
  font-weight: 700;
  width: 72% !important;
  margin-bottom: 0px;
  font-size: 50px;
  margin-top: 25px !important;
  @media (min-width:992px) and (max-width:1199px){
    font-size: 45px !important;
  }
  @media (min-width:426px) and (max-width:575px){
    margin-top: 0px !important;
  }
}
.getting--started {
  .get--Sainapse {
    @media (min-width:768px) and (max-width:991px){
      width: 85% !important;
    }
  }
}
// Banner section of getting stops
.challenges {
  text-align: center;
  position: relative;
  margin-top: -160px;

  .challenges-container {
    text-align: left;
    width: 1236px;
    min-height: 871px;
    background-color: $color-white;
    display: inline-block;
    border-radius: 12px;
    z-index: 100;
    .container {
      margin-top: 50px;
    }
    .content {
      margin-bottom: 30px;
      @media (min-width: 768px) and (max-width:991px) {
        margin-bottom: 15px;
        height: 285px;
      }
      @media (min-width: 992px) {
        margin-bottom: 15px;
        height: 245px;
      }
      h4 {
        font-size: 26px;
        font-weight: $fontWeight-medium !important;
        color: #2a2a2a;
        margin-bottom: 10px;
        @media (max-width: 767px){
          font-size: 22px;
        }
        span {
          margin-right: 15px;
          color: #e9791a;
        }
      }
      .p1-para {
        font-weight: $fontWeight-medium;
        font-size: 20px;
        color: #e9791a;
        margin-bottom: 10px;
        line-height: 23px;
        @media (max-width: 767px){
          font-size: 18px;
        }
      }
      .p2-para {
        font-size: $fontSize-smaller;
        font-weight: $fontWeight-regular;
        color: #4a4a4a;
      }
    }
    .impediments-section {
      margin: 75px 0px;

      .flex-getting {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
      }
      .impediments-hd {
        font-size: 36px;
        font-weight: $fontWeight-medium;
        color: #000000;
        text-align: center;
        
       @media (max-width:767px){
         font-size: 26px;
       }      }
      .inner-section-impediments {
        width: 20%;
        @media (max-width: 575px) {
          width: 100%;
        }
        @media (min-width: 576px) and (max-width: 991px) {
          width: 50%;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          width: 33.33%;
        }
        h3 {
          color: #e9791a;
          font-weight: $fontWeight-medium;
          font-size: 40px;
        }
        p {
          font-weight: $fontWeight-medium;
          letter-spacing: 0px;
          color: #000000;
          margin-top: 15px;
          margin-right: 15px;
          font-size: 16px;
        }
      }
      .pad-lft {
        padding-left: 20px;
        @media (min-width: 576px) and (max-width: 1199px) {
          margin-top: 10px;
        }
      }
      .pad-rgt {
        padding-right: 20px;
        @media (min-width: 576px) and (max-width: 1199px) {
          margin-top: 10px;
        }
      }
      .borderRight {
        @media (min-width: 1200px) {
          border-right: 1px solid #8080804a;
        }
      }
    }

    .letsTalk-sec {
      margin-bottom: 65px;
    }
    .letsTalk-sec .lets-talk-wrapper .button-wrapper button {
      display: inline-block;
    }
    .marginbottom25 {
      margin-bottom: 25px;
    }
    .horizontal-line {
      width: 113px;
      height: 5px;
      background-color: $color-btn;
      opacity: 0.4;
      display: inline-block;
    }
    .customer-sucess {
      min-height: 265px;
      background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
      box-shadow: 0px 13px 99px rgba(141, 156, 163, 0.22);
      opacity: 1;
      padding: 70px;
      margin-bottom: 90px;
      h3 {
        margin-bottom: 0px;
      }
      p {
        font-size: $fontSize-tiny;
        font-weight: $fontWeight-light;
        color: rgba(74, 74, 74, 1);
        padding-left: 25px;
      }
      .details {
        display: flex;
        padding-left: 25px;
        h4 {
          padding-left: 25px;
          font-size: $fontSize-smallest;
        }
      }
    }
    .customer-sucess:hover {
      border-radius: 30px !important;
    }
  }
}
.fade {
  .modal-dialog {
    .modal-content {
      .modal-body {
        form {
          .form-group {
            .error-message {
              font-size: 14px;
              color: #ff0000b5;
            }
          }
        }
      }
    }
  }
}

// Media queries
@media (min-width: 320px) and (max-width: 375px) {
  .banner-getting-started h1 {
    font-size: 22px;
    width: 90%;
    left: 50%;
  }
  .challenges .challenges-container .impediments-section .flex-getting {
    display: block;
    margin-top: 50px;
  }
  .challenges .challenges-container .impediments-section .pad-rgt {
    padding-left: 20px;
    padding-right: 0px;
  }
  .challenges .challenges-container .impediments-section {
    margin: 35px 0px;
  }
  .challenges .challenges-container .impediments-section .borderRight {
    border-right: none;
  }

  .challenges {
    margin-top: 0px;
  }
  .challenges .challenges-container {
    width: 100%;
  }
  .letsTalk-sec .lets-talk-wrapper .round-image {
    display: none;
  }
  .letsTalk-sec .lets-talk-wrapper h4 {
    margin-top: 35px;
    padding: 0px 10px;
  }
  .letsTalk-sec .lets-talk-wrapper p {
    font-weight: 300;
    padding: 0px 10px;
  }
  .letsTalk-sec .lets-talk-wrapper .button-wrapper button {
    margin-top: 0px;
  }
  .letsTalk-sec .lets-talk-wrapper .button-wrapper {
    margin-top: 0px;
    margin-bottom: 22px;
    margin-left: 11px;
  }
  .challenges .challenges-container .letsTalk-sec {
    margin-bottom: 35px;
  }
  .challenges .challenges-container .customer-sucess {
    padding: 25px;
    margin-bottom: 90px;
    .ntt-img {
      width: 100%;
    }
  }
}
@media (min-width: 376px) and (max-width: 767px) {
  .challenges .challenges-container .impediments-section .flex-getting {
    display: block;
    margin-top: 50px;
  }
  .challenges .challenges-container .impediments-section .pad-rgt {
    padding-left: 20px;
    padding-right: 0px;
  }
  .challenges .challenges-container .impediments-section {
    margin: 35px 0px;
  }
  .challenges .challenges-container .impediments-section .borderRight {
    border-right: none;
  }
  .getting-hd {
    width: 82% !important;
    font-size: 25px;
  }
  .challenges .challenges-container .impediments-section .borderRight {
    border-right: none;
  }
  .banner-getting-started h1 {
    font-size: 22px;
  }
  .challenges {
    margin-top: 0px;
  }
  .challenges .challenges-container {
    width: 100%;
  }
  .letsTalk-sec .lets-talk-wrapper .round-image {
    display: none;
  }
  .letsTalk-sec .lets-talk-wrapper h4 {
    margin-top: 35px;
    padding: 0px 10px;
  }
  .letsTalk-sec .lets-talk-wrapper p {
    font-weight: 300;
    padding: 0px 10px;
  }
  .letsTalk-sec .lets-talk-wrapper .button-wrapper button {
    margin-top: 0px;
  }
  .letsTalk-sec .lets-talk-wrapper .button-wrapper {
    margin-top: 0px;
    margin-bottom: 22px;
    margin-left: 11px;
  }
  .challenges .challenges-container .letsTalk-sec {
    margin-bottom: 35px;
  }
  .challenges .challenges-container .customer-sucess {
    padding: 25px;
    margin-bottom: 90px;
    .ntt-img {
      width: 100%;
    }
  }
  .letsTalk-sec .lets-talk-wrapper .button-wrapper {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .getting-hd {
    width: 82% !important;
    font-size: 40px !important;
  }
  .challenges {
    margin-top: -47px;
  }
  .challenges .challenges-container {
    width: 700px;
  }
  .banner-getting-started h1 {
    font-size: 42px;
    width: 88%;
    left: 50%;
  }
  img.ntt-img {
    width: 100%;
    margin-top: 65px;
  }
  .challenges .challenges-container .customer-sucess {
    padding: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1023px) {
  .challenges .challenges-container {
    width: 925px;
  }
  .challenges {
    margin-top: -50px;
  }
  img.ntt-img {
    width: 100%;
    margin-top: 30px;
  }
  .challenges .challenges-container .customer-sucess {
    padding: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .challenges .challenges-container {
    width: 950px;
  }
  .challenges {
    margin-top: -50px;
  }
  img.ntt-img {
    width: 100%;
    margin-top: 30px;
  }
  .challenges .challenges-container .customer-sucess {
    padding: 50px;
  }
  .banner-getting-started h1 {
    font-size: 50px;
  }
}
@media (min-width: 1201px) and (max-width: 1300px) {
  .challenges .challenges-container {
    width: 1120px;
  }
  .challenges {
    margin-top: -80px;
  }
  img.ntt-img {
    width: 100%;
    margin-top: 30px;
  }
}

.contact-us {
  background-color: #28afb0;
  .contact-details {
    position: relative;
    height: 100%;
    overflow: hidden;
    .contact-info {
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translate(0, -50%);
      z-index: 1;
      @media (max-width:575px){
        left: 30px;
      }
      @media (min-width:768px) and (max-width:991px){
        top: 50%;
        left: 25px;
        z-index: 1;
      }
      p {
        font-size: 38px;
        font-weight: $fontWeight-regular;
        color: #fff;
        width: 80%;
        text-align: left;
        line-height: 40px;
        margin-bottom: 55px;
        @media (max-width:767px){
          margin-bottom: 25px !important;
          width: 100%;
          font-size: 24px !important;
        }
        @media (max-width:991px){
          font-size: 26px;
          line-height: 30px;
          margin-bottom: 40px;
        }
      }
    }
    .button-wrapper {
      .btn-common {
        font-size: 16px !important;
        padding: 10px 15px !important;
        color: #e9791a !important;
        background-color: #fff;
        border: 1px solid #fff !important;
        &:hover {
          border: 1px solid #e9791a !important;
          color: #fff !important;
        }
      }
    }
    .watermark {
      @media (max-width:767px){
        width: 80%;
        margin: 0 75px;
      }
      @media (min-width:768px){
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .contactImg {
    img {
      @media (min-width:1200px) and (max-width:1600px){
        height: 400px;
        object-fit: cover;
      }
    }
  }
}

.approach-holder {
  h5 {
     font-size: 36px;
     font-weight: $fontWeight-medium;
     color: #000000;
     text-align: center;
     margin: 30px 0px 50px;
    @media (max-width:767px){
      font-size: 26px;
    }
  }
}

.breadcrumb-gettingStarted {
  @media (max-width:430px){
    top: -60px;
  }
  @media (min-width:431px) and (max-width:575px){
    top: -72px;
  }
  @media (min-width:768px) and (max-width:870px){
    top: -48px;
  }
  @media (min-width:871px) and (max-width:991px){
    top: -60px;
  }
  @media (min-width:992px) and (max-width:1199px){
    top: -70px;
  }
  @media (min-width:576px) and (max-width:650px){
    top: -78px;
  }
  @media (min-width:651px) and (max-width:767px){
    top: -93px;
  }
}

.label-name {
  float: left;
}
.custom-form-control {
  display: block;
  border : 1px solid #e9791a;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.head{
  font-weight: 500;
  color: #e9791a;
  padding-bottom : 10px;
  /* text-decoration: underline; */
}

.subbttn{
 background-color:  #e9791a!important;
 margin-top: -50px;
 color : white;
}

.err{
  color : red;
  float: left;
  padding-bottom: 10px;
}
