.redefining-automotive {
  .baseape {
    margin-top: 70px;
  }

  .why-sainapse {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;

    @media (max-width: 575px) {
      display: block;
      margin-top: -35px;
    }

    h1 {
      font-size: 36px;

      @media (max-width: 767px) {
        font-size: 23px;
      }
    }

    .download-pdf {
      display: flex;
      height: min-content;
      align-items: flex-start;
      @media (max-width:767px){
        display: block;
      }
      @media (max-width: 575px) {
        margin-top: 15px;
      }

      a {
        border: 1px solid #2a2a2a;
        padding: 8.9px 15px;
        display: flex;
        align-items: center;
        width: max-content;
        color: #2a2a2a;
        font-weight: 500;
        font-size: 14px;
        @media (max-width: 575px) {
          font-size: 14px;
          padding: 12px 48px;
        }
        @media (max-width:767px){
          white-space: nowrap;
          margin-top: 14px;
        }
      }

      // .btn-linkedin {
      //   margin-top: -12px;
      // }
      .follow-fingerpoint {
        display: flex;
        align-items: flex-start;
        margin-right: 12px;
        margin-top: 3px;
        img {
          width: 30px;
        }
      }
    }

    .line {
      border-top: 5px solid #e9791a;
      width: 90px;
      background-color: #e9791a;
      opacity: 1;
      margin-bottom: 20px;
    }

    .followLinkedIn {
      text-align: left;
      font-size: 16px;
      letter-spacing: 0px;
      color: #000;
      opacity: 1;
      font-weight: 500;
      margin-top: 4px;
      white-space: nowrap;
      // margin-bottom: 5px;

      // @media (min-width: 576px) {
      //   margin-top: -4px;
      // }
    }
  }

  .sainapse-points {
    span {
      color: #e17d27;
      font-size: 16px;
      text-align: left;
      font-weight: 400;
      margin-right: 15px;
      display: inline-block;
    }

    p {
      color: #4a4a4a;
      font-size: 16px;
      text-align: left;
      font-weight: 400;
      margin-bottom: 25px;
    }
  }

  .sainapse-box {
    background-color: #e9791a;
    padding: 35px 50px;
    text-align: center;
    margin: 55px 0px;

    @media (max-width:767px) {
      padding: 35px;
      margin: 35px 0px 40px;
    }

    p {
      font-size: 31px;
      font-style: italic;
      color: #fff;
      margin-bottom: 0;
      text-align: left;
      font-weight: 400;

      @media (max-width:767px) {
        font-size: 18px;
      }
    }
  }

  .career-content {
    @media (max-width:575px) {
      padding: 30px 0px;
    }
  }
}

.displaySainapseLogo {
  display: block !important;
  margin: 5px 0px;
  width: 202px !important;
}