.Resource-sec {
  .nav-tabs .nav-link.active {
    border-bottom: 4px solid #E9791A !important;
    border-radius: 0px;
    color: #2A2A2A;
    background-color: transparent !important;
    cursor: pointer;
    border: 0px;
    font-weight: 500;
  }

  .nav-tabs {
    border-bottom: 0px;
  }

  .nav-tabs .nav-link {
    color: #555;
    cursor: pointer;
    background-color: #fff;
    border: 0px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
  }

  .resources-list {
    flex-wrap: nowrap;
    white-space: nowrap;

    @media (max-width:767px) {
      overflow-x: auto;
    }
  }

  .first-tab {
    padding-left: 0px !important;
  }

  @media (max-width:425px) {
    .text-right {
      text-align: left !important;
      padding-top: 25px;
    }

  }

  .horizontal-line {
    width: 113px;
    height: 5px;
    background-color: #28afb0;
    opacity: 0.4;
    display: inline-block;
    text-align: left;

    @media(max-width:425px) {
      // padding-top: 25px;
    }
  }

  .tab-content {
    // padding-top: 40px;
    border: 0px;

    .resource-content {
      .row {
        padding-top: 15px;

        .resource-holder {
          position: relative;
          min-height: 200px;

          @media (min-width:768px) and (max-width:991px) {
            min-height: 225px;
          }

          .res-cont-header {
            text-align: left;
            font-family: Roboto;
            font-size: $fontSize-larger;
            letter-spacing: 0px;
            color: #000000;
            font-weight: $fontWeight-medium;

            @media (max-width:767px) {
              font-size: $fontSize-larger - 5;
            }
          }

          p {
            font-size: 14px;
            letter-spacing: 0px;
            color: #4B4C4D;
            padding-right: 90px;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;

            @media (max-width:1439px) {
              padding-right: 50px;
            }

            // @media (max-width:991px) {
            //   padding-right: 50px;
            // }

            @media (max-width:991px) {
              padding-right: 10px;
            }

            @media (max-width:768px) {
              padding-right: 20px;
            }

            @media (max-width:425px) {
              padding-right: 0px;
            }
          }
        }
      }
    }

  }

  .learn-more {
    display: inline-block;
    position: absolute;
    bottom: -25px;
    margin-bottom: 10px;

    a {
      color: #2A2A2A;
      font-weight: $fontWeight-medium;
      margin-bottom: 0px;
      font-size: 14px;
      transition: 0.3s;

      .orange-arrow {
        height: 12px;

      }

      .white-arrow {
        display: none;
      }
    }

    &:hover a {
      color: #fff !important;

      .white-arrow {
        display: inline-block;
        width: 22px;
        height: 12px;
      }

      .orange-arrow {
        display: none;
      }
    }

  }

}

.bg-custom {
  .nav-link {
    color: #000000 !important;
  }

  .color-logo {
    display: block !important;
  }

  .white-logo {
    display: none !important;
  }
}

@media (max-width: 1090px) and (min-width: 1024px) {
  .banner-resources p {
    top: 85px;
    left: 56px;
  }
}

.blogs-holder {
  margin-top: 30px;

  .blog-card {
    border: 1px solid #D8D8D8;
    padding: 40px 35px 40px;
    border-radius: 3px;
    height: 234px;

    @media (max-width:767px) {
      padding: 25px;
      height: auto;
    }

    h5 {
      font-size: 23px;
      font-weight: $fontWeight-medium;
      margin-bottom: 50px;
      color: #000000;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media (max-width:767px) {
        font-size: 18px;
        margin-bottom: 30px;
      }

      @media (min-width:768px) {
        min-height: 81px;
      }
    }

    .blog-by {
      display: flex;
      justify-content: space-between;

      p {
        margin-bottom: 0px;
        font-size: 14px;

        &:nth-child(1) {
          color: #2A2A2A;
          opacity: 0.84;
          display: flex;
          align-items: center;

          span {
            width: 12px;
            height: 12px;
            display: block;
            background: #E9791A;
            border-radius: 100%;
            margin-right: 8px;
          }
        }

        &:nth-child(2) {
          color: #2A2A2A;
          opacity: 0.3;
        }
      }
    }
  }

}


.box-wrapper {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  strong {
    font-size: 21px;
    color: #fff;
    font-weight: 400;
  }

  img {
    z-index: 1;
  }

  .watermark {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  .briefing {
    position: absolute;
    bottom: 36px;
    right: 38px;

  }
}

.iris-blue {
  background: #00B3B3;
}

.blue {
  background: #19647E;
}

.Resource-sec .newsroom-container {
  border-radius: 14px;
  margin-bottom: 80px;
}

.alternate-bgcolor {
  background: #19647E !important;
}

.banner-resources {
  h1 {
    @media (max-width:350px) {
      top: 38px !important;
    }
  }
}

.breadcrumbs-resources {
  top: -17px !important;

  @media (max-width:425px) {
    top: -35px !important;
  }

  @media (min-width:426px) and (max-width:500px) {
    top: -8px !important;
  }
}