@import "../variables.scss";

.banner-overview {
  img {
    width: 100%;
    height: auto;
  }
}
.banner-title.d-flex.align-items-center.sainapse-over {
    margin-top: 45px;
}
.architecture-banner .banner-holder .banner-info .banner-title p {
    color: #B4A8A8;
    font-size: 22px !important;
    font-weight: 400;
    margin-bottom: 0px;
    @media (max-width: 1023px) {
        font-size: 18px !important;
    }
    @media (max-width: 575px){
        font-size: 16px !important;
    }
}
.Sainaps-world-architecture {
    // margin-bottom: 200px;
    margin-top:-100px;
    position: relative;
    text-align: center;
    .desktop-img {
        position: absolute;
        top: -305px;
        right: 92px;
    }
    .sainapse-holder.sample-architecture p{
        color: #000000;
        font-weight: 300;
        font-size: 28px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .bacground-container {
        width: 1201px;
        display: inline-block;
        text-align: left;
        background-color: #fff;
    }
    .sainapse-holder {
        padding: 90px 0px;
    }
  

}
//================================= old code ==================================
.wide-container-2 .tool-line {
    width: 120px;
    height: 0px;
    margin: 25px 15px 0px 15px;
    opacity: 1;
    border: 2px solid #9b9b9b;
    @media (max-width: 991px) {
        display: none;
    }
}

// .architecture .pull-top {
//     position: relative;
//     margin-top: -383px;
//     @media (max-width: 991px) {
//         margin-top: -180px;
//     }
// }

@media (min-width: 991px) {
    .icon-wrapper.odd {
        text-align: left;
        float: right;
        min-width: 242px;
    }
}
.icon-wrapper {
    text-align: center;
    padding-top: 50px;
    @media (max-width: 991px) {
        margin-bottom: 15px;
        padding-top: 0px;
    }
}

.wide-container-1 {
    width: calc(100% - 10%) !important;
    background-color: transparent;
    padding: 60px 0;
    @media (max-width: 991px) { 
        padding-bottom: 15px;
    }
}

.wide-container-2 {
    width: calc(100% - 10%) !important;
    background-color: #fff;
    padding: 60px 0;
    .mb-5.pt-5 {
        padding-top: 0;
    }
    .container{
        margin-top: -50px;
    }
}

.tool-number {
    font-size: $fontSize-largest + 10px;
    color: #e9791a;
    @media (max-width: 992px){
        text-align: left;
    }
}

.tool-content {
    .tool-content-header {
        text-align: left;
        letter-spacing: 0px;
        color: #2a2a2a;
        font-family: Roboto;
        font-size: 36px;
        line-height: 40px;
        font-weight: $fontWeight-medium;
        @media (max-width: 991px) { 
            font-size: 26px;
            line-height: 32px;
        }
    }
    .arc-tool-content {
        text-align: left;
        font-size: 18px;
        font-family: Roboto;
        letter-spacing: 0px;
        color: #4a4a4a;
        @media (max-width: 991px) { 
            font-size: 16px;
        }
    }
}


.number-and-info {
    display: flex;
    @media (max-width: 991px) { 
        flex-direction: column;
    }
}
@media (min-width: 320px) and (max-width: 375px) {
    .banner-title.d-flex.align-items-center.sainapse-over {
        margin-top: 29px;
        margin-bottom: 10px !important;
    }
    .Sainaps-world-architecture .sainapse-holder.sample-architecture p {
        font-size: 22px;
        width: 100%;

    }
    .Sainaps-world-architecture .bacground-container {
        width: 100%;
    }
    .Sainaps-world-architecture .sainapse-holder {
        padding: 40px 0px;
    }
    .Sainaps-world-architecture {
        margin-top: 0px;
    }
    .Sainaps-world-architecture .sainapse-holder p {
        font-size: 16px;
        width: 100%;
    }
}
@media (min-width: 376px) and (max-width: 767px) {
    .banner-title.d-flex.align-items-center.sainapse-over {
      
        margin-bottom: 10px !important;
    }
    .Sainaps-world-architecture .sainapse-holder.sample-architecture p {
        font-size: 25px;
        width: 100%;
        margin-bottom: 10px;

    }
    .Sainaps-world-architecture {
        margin-top: 0px;
    }
    .Sainaps-world-architecture .bacground-container {
        width: 100%;
    }
    .Sainaps-world-architecture .sainapse-holder {
        padding: 40px 0px;
    }
    .Sainaps-world-architecture .sainapse-holder .sainapse h1, .sainapse-holder .sainapse h2 {
        font-size: 23px;
    }
    .Sainaps-world-architecture .sainapse-holder p {
        font-size: 16px;
        width: 100%;
    }
    .Sainaps-world-architecture .sainapse-holder {
        padding-bottom: 20px;
    }
}
@media (min-width:768px) and (max-width: 800px) {
    .Sainaps-world-architecture .desktop-img {
        position: absolute;
        top: -271px;
        right: 46px;
    }
    .Sainaps-world-architecture .sainapse-holder.sample-architecture p {
        width: 90%;
    }
    .Sainaps-world-architecture .bacground-container {
        width: 641px;
    }
    .Sainaps-world-architecture {
        margin-top: -48px;
    }
}
@media (min-width:801px) and (max-width: 991px) {
    .Sainaps-world-architecture .sainapse-holder.sample-architecture p {
        width: 90%;
    }
    .Sainaps-world-architecture .desktop-img {
        position: absolute;
        top: -271px;
        right: 46px;
    }
    h1.sainapse-hd {
        font-size: 36px !important;
        margin-top: 48px !important;
    }
    
   
    .Sainaps-world-architecture .bacground-container {
        width: 668px;
    }
    .Sainaps-world-architecture {
        margin-top: -41px;
        }
}
@media (min-width:992px) and (max-width: 1023px) {
    .banner-title.d-flex.align-items-center.sainapse-over {
        margin-top: 0px;
    }
        .Sainaps-world-architecture .bacground-container {
        width: 828px;
    }
    .Sainaps-world-architecture {
        margin-top: -51px;
    }
}
@media (min-width:1024px) and (max-width: 1100px) {
  
    .Sainaps-world-architecture .bacground-container {
        width: 854px;
    }
    .Sainaps-world-architecture .sainapse-holder {
        padding: 65px 0px;
    }
    .Sainaps-world-architecture {
        margin-top: -52px;
    }
}
@media (min-width:1101px) and (max-width: 1150px) {
  
    .Sainaps-world-architecture .bacground-container {
        width: 918px;
    }
    .Sainaps-world-architecture .sainapse-holder {
        padding: 65px 0px;
    }
    .Sainaps-world-architecture {
        margin-top: -56px;
    }
}
@media (min-width:1151px) and (max-width: 1190px) {
  
    .Sainaps-world-architecture .bacground-container {
         width: 959px;
    }
    .Sainaps-world-architecture {
        margin-top: -59px;
        }
    .Sainaps-world-architecture .sainapse-holder {
        padding: 65px 0px;
    }
}
@media (min-width:1151px) and (max-width: 1190px) {
  
    .Sainaps-world-architecture .bacground-container {
        width: 959px;
   }
   .Sainaps-world-architecture {
       margin-top: -59px;
    }
}
@media (min-width:1191px) and (max-width: 1200px) {
  
    .Sainaps-world-architecture .bacground-container {
        width: 993px;
   }
   .Sainaps-world-architecture {
       margin-top: -61px;
    }
}
@media (min-width:1201px) and (max-width: 1245px) {
 
    .Sainaps-world-architecture .bacground-container {
        width: 1000px;
   }
   .Sainaps-world-architecture {
       margin-top: -61px;
    }
}
@media (min-width:1246px) and (max-width: 1299px) {
  
    .Sainaps-world-architecture .bacground-container {
          width: 1040px;
   }
   .Sainaps-world-architecture {
    margin-top: -64px;
    }
}
@media (min-width:1300px) and (max-width: 1390px) {
   
    .Sainaps-world-architecture .bacground-container {
        width: 1085px;
    }
    .Sainaps-world-architecture {
        margin-top: -66px;
    }
}
@media (min-width:1391px) and (max-width: 1420px) {
  
    .Sainaps-world-architecture .bacground-container {
        width: 1183px;
    }
    .Sainaps-world-architecture {
        margin-top: -72px;
    }
}
@media (min-width:2501px) and (max-width: 2560px) {
    .Sainaps-world-architecture .bacground-container {
        width: 1183px;
    }
    .Sainaps-world-architecture {
        margin-top: -130px;
    }
    .Sainaps-world-architecture .sainapse-holder {
        padding: 142px 0px;
    }
}