.sainapse-center-logo{
    width : 200px;
}

.custom-form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
// .sainapse-form{
//     padding-bottom : 100px;
// }
// .start{
//    padding-top: 100px;
// }
// .sub-bttn{
//     margin-left: 80% ;
// }
.sainapse-form{
    //margin-left: 146px!important;
}

.group-ele{
    padding-top : 18px;
}
.enquiry_error{
    color : red;
}
.form-elements{
    width: 65%;
    margin-left: 304px!important;
}
.shadow-box{
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 312px) and (max-width: 425px) {
    .form-elements {
        width: 100%;
        margin-left: 0px !important;
    }
}
@media (min-width: 100px) and (max-width: 424px) {
    .form-elements {
        width: 100%;
        margin-left: 0px !important;
    }
}

@media (min-width: 425px) and (max-width: 565px) {
    .form-elements {
        width: 100%;
        margin-left: 0px !important;
    }
}

@media (min-width: 566px) and (max-width: 767px) {
    .form-elements {
        width: 100%;
        margin-left: 52px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
 .form-elements {
    width: 70%;
    margin-left: 200px !important;
 }
}
