// Technologies-Section  starts
.Technologies-Section {
  margin-bottom: 70px;
  img {
    width: 100%;
    height: auto;
  }
}

// Looking Ahead section starts
.lookingAhead {
  .text-right {
    text-align: right !important;
  }
    h3 {
      text-align: left;
      color: #000;
      font-size: 36px;
      margin-bottom: 30px;
      font-weight: 500;
      @media (max-width:767px){
          font-size: 26px;
      }
  }
  .marginbottom25 {
    margin-bottom: 25px;
  }
  .marginBottomCard {
    margin-bottom: 25px;
  }
  .horizontal-line {
    width: 113px;
    height: 5px;
    background-color: #28afb0;
    opacity: 0.4;
    display: inline-block;
  }

  .hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    .textOnImg {
      position: absolute;
      color: #fff;
      top:50%;
      left:50%;
      transform: translate(-50% , -50%);
    }
  }

  .hvrbox:hover {
    .textOnImg {
      display: none;
    }
  }
  .Always-text-on-img {
    display: flex;
    padding-bottom: 0px;
    p {
      font-size: 30px;
      display: inline-block;
      width: 170px;
      line-height: normal;
      margin-bottom: 0px;
      text-align: center;
    }
    .arrow-icon {
      display: inline-block;
      margin-left: 107px;
    }
  }
  .additional-text-add {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding:10px;
    color:#fff;

  }

  .hvrbox img {
    max-width: 100%;
  }
  .hvrbox .hvrbox-layer_bottom {
    display: block;
  }
  .hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .hvrbox:hover .hvrbox-layer_top,
  .hvrbox.active .hvrbox-layer_top {
    opacity: 1;
  }

  .hvrbox .hvrbox-text {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .hvrbox .hvrbox-layer_slideup {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .hvrbox:hover .hvrbox-layer_slideup,
  .hvrbox.active .hvrbox-layer_slideup {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  // hover silde up effectas of images ends
}

.science-video {
  .video-section .container {
    left: unset;
    transform: unset;
  }

}


.Imagine-autonomously{
  margin-bottom: 80px;
  .Secience-Imagine-sec{
    h1 {
      font-size: 36px;
      color: #2A2A2A;
      font-weight: $fontWeight-medium;
      margin-bottom: 35px;
      line-height: 45px;
      @media (max-width:767px){
      font-size: 26px;
      line-height: 31px;
      }
      @media (max-width:575px){
        margin-bottom: 15px;
      }
    }
    p {
      font-size: 24px;
      color: #4A4A4A;
      font-weight: 300;
      width: 75%;
      @media (max-width:575px){
        width: 100%;
      }
      @media (max-width:767px){
        font-size: 21px;
        }
  }
  .horizontal-line {
    width: 113px;
    height: 5px;
    background-color: #F29D32;
    opacity: 0.4;
    display: inline-block;
    @media (max-width:575px){
      display: block;
      margin-bottom: 25px;
    }
  }
  }
 

  }
  @media (min-width: 320px) and (max-width: 374px) {
    .lookingAhead .Always-text-on-img p {
      font-size: 25px;
  }
 
  }
  @media (min-width: 375px) and (max-width: 411px) {
    .lookingAhead .Always-text-on-img p {
      font-size: 25px;
  }

  }

// Media queries
@media (min-width: 320px) and (max-width: 375px) {

  .Technologies-Section img {
    height: auto;
  }
  .lookingAhead .text-right {
    text-align: left !important;
  }
  .lookingAhead .Always-text-on-img .arrow-icon {
    margin-left: 46px;
  }

  .letsTalk-sec .lets-talk-wrapper .button-wrapper {
    text-align: left;
    margin-top: 15px;
  }
  .letsTalk-sec {
    margin-top: 32px;
  }
  .science-video{
    .inner-video-section {
      padding: 22px !important;
  }
  .container {
    left: unset;
    transform: unset;
  }
  }
  .Secience-Imagine-sec{
    .text-right{
      text-align: left !important;
    }
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .Technologies-Section img {
    height: auto;
  }
  .lookingAhead .text-right {
    text-align: left !important;
  }
  .lookingAhead .Always-text-on-img .arrow-icon {
    margin-left: 140px;
  }
 
  .letsTalk-sec .lets-talk-wrapper .button-wrapper {
    text-align: left;
    margin-top: 15px;
  }
  .letsTalk-sec {
    margin-top: 32px;
  }
  .science-video{
    .inner-video-section {
      padding: 22px !important;
  }
  }
  .Secience-Imagine-sec{
    .text-right{
      text-align: left !important;
    }
  }
}
@media (min-width: 567px) and (max-width: 991px) {
  .lookingAhead .Always-text-on-img .arrow-icon {
    display: inline-block;
    margin-left: -12px;
  }
  .lookingAhead .Always-text-on-img {
    display: flex;
    padding-bottom: 0px;
  }
  .lookingAhead .additional-text-add {
    font-size: 12px;
  }
  .lookingAhead .Always-text-on-img p {
    font-size: 20px;
    display: inline-block;
    width: 162px;
  }

  .letsTalk-sec .lets-talk-wrapper .button-wrapper button {
    font-size: 12px;
  }
  .science-video{
    .inner-video-section {
      padding: 22px !important;
  }
  }
}
@media (min-width: 992px) and (max-width: 1023px) {
  .lookingAhead .Always-text-on-img {
    display: flex;
     padding-bottom: 0px; 
}

}
@media (min-width: 1024px) and (max-width: 1200px) {
  .lookingAhead .Always-text-on-img {
    display: flex;
     padding-bottom: 0px; 
}

}
.architecture-img {
  @media (min-width:768px){
    padding: 0px 25px;
  }
}

.breadcrumbs-science {
  position: absolute;
  bottom: 30px;
  padding: 12px 0px 0px;

  @media (max-width:575px) {
    bottom: -32px;
  }
  @media (min-width:576px) and (max-width:767px) {
    bottom: -15px;
  }
  @media (min-width:768px) and (max-width:991px) {
    bottom: -10px;
  }
  @media (min-width:992px) and (max-width:1199px){
    bottom: 5px;
  }
  .breadcrumb {
    background-color: transparent !important;
    padding: 5px 0px 2px;
    .breadcrumb-item {
      font-size: 14px;
      margin: 0;
      color: #6c757d;

      @media (max-width:575px) {
        font-size: 12px;
      }

      a {
        color: #6c757d;
      }
    }

    .breadcrumb-item.active {
      color: #000;
    }
  }
}