@import './variables.scss';

@mixin bayestreeCustom-container {
    padding: 72px 0px 25px;
    background: $color-white;
    margin: 0px auto;
    z-index: 1;
    width: 90%;
    position: relative;
    border-radius: 12px;
    @media (min-width: 320px) and (max-width: 575px) {
        padding: 30px 10px 15px;
        margin: 95px 0px 0px;
        width: 100%;
        }
    @media (min-width: 576px) and (max-width: 767px) {
        padding: 40px 0px 20px;
        margin: 70px 0 0px;
        width: 100%;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        padding: 40px 10px 20px;
        margin: 115px auto 0px;
    }
}

@mixin bayestree-title {
    text-align: left;
    color: $color-black;
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 500;

    @media (max-width: 767px) {
        font-size: 26px;
        margin-bottom: 16px;
    }
}

@mixin  position-relative {
     position: relative;
}

@mixin  banner-title {
    font-size: $fontSize-hero - 2;
    font-weight: $fontWeight-medium !important;
    color: $color-white;
    @media (max-width:767px) {
        font-size: 26px;
        top: 35px;
    }
    @media (min-width:768px) and (max-width:991px) {
        top: 55px;
        font-size: 36px;
    }
}

@mixin custom-main-container {
    margin-top: -22%;
    position: relative;
}
@mixin custom-sub-container {
    background: $color-white;
    margin: 0px auto;
    z-index: 1;
    width: 90%;
    position: relative;
    border-radius: 12px;
}