// color's
// -----------------------------------------------------------------------------

$color-primary: #2691CF;
$color-white: #fff;
$color-black: #000;

$color-btn: #F29D32;
$color-btnHover: #eb962b;

// text

$color-textDropdown: #465660;
$color-text: #232F36;


// Font sizes
// -----------------------------------------------------------------------------

$fontSize-hero:                 50px;
$fontSize-largest:              28px;
$fontSize-larger:               26px;
$fontSize-large:                24px;
$fontSize-small:                20px;
$fontSize-smaller:              16px;
$fontSize-smallest:             14px;
$fontSize-tiny:                 12px;

// Font weight's
// -----------------------------------------------------------------------------

$fontWeight-light: 300;
$fontWeight-regular: 400;
$fontWeight-medium: 500;
$fontWeight-bold: 700;